# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the languages most used by data scientists are:

Julia

Python

R

Scala

Some of the commonly used libraries used by Data Scientists include:

Caret

Numpy

Pandas

Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Understand development environments used in Data Science
- Demonstrate basic arithmetic expressions in Python
- Create tables using markdown in Jupyter Notebooks

## Author
Abraham David Miguel Cardenas

github repository:
https://github.com/AbrahaMD1010/Hands-on-Lab-Create-your-Jupyter-Notebook/tree/main